@charset "UTF-8";
.button, .enlaces li a, .enlaces {
  display: flex;
  justify-content: center;
}

* {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgba(162, 237, 219, 0.507);
  margin: 0;
  padding: 0;
}

.h1principal {
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
}

.enlaces {
  list-style-type: none;
  padding: 2rem;
  text-align: center;
}
.enlaces li {
  margin: 0 15px;
}
.enlaces li a {
  text-decoration: none;
  color: rgba(18, 17, 17, 0.749);
  margin-right: 10px;
  padding-right: 30px;
  border-right: 1px solid rgba(41, 38, 38, 0.785);
}
.enlaces li a:hover {
  color: rgba(165, 42, 42, 0.642);
}

.galeria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.galeria img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin: 2px;
  border-radius: 2rem;
}

.button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  text-decoration: none;
  background-color: rgba(245, 245, 220, 0.938);
  color: rgba(28, 27, 27, 0.74);
}
.button:hover {
  background-color: rgba(165, 42, 42, 0.642);
}

.card {
  width: 25rem;
  border-radius: 2rem;
  text-align: center;
  background-color: rgba(198, 198, 178, 0.795);
}
.card img {
  width: 25rem;
  border-radius: 2rem;
  text-align: center;
  background-color: rgba(198, 198, 178, 0.795);
  height: 25rem;
  object-fit: cover;
}

.contenedorflex {
  display: flex;
  justify-content: space-around;
  object-fit: cover;
  gap: 1rem;
  flex-wrap: wrap;
}
.contenedorflex .card {
  padding: 1rem;
}
.contenedorflex .card h2 {
  margin: 0;
  text-align: center;
  background-color: rgba(198, 198, 178, 0.795);
}
.contenedorflex .card p {
  font-size: 0, 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(198, 198, 178, 0.795);
}
.contenedorflex .card button {
  border: none;
  font-size: 1rem;
  background-color: rgba(245, 245, 220, 0.938);
  padding: 1rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.containercontact h2 {
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
}
.containercontact h3 {
  text-align: center;
  font-size: 1rem;
}
.containercontact h4 {
  text-align: center;
  font-size: 1rem;
}
.containercontact img {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  margin-left: 14rem;
  margin-top: 1rem;
}

.logoinstagram img {
  margin-top: 5rem;
}

.ubicacion {
  text-align: center;
  margin-top: 2rem;
}
.ubicacion iframe {
  border-radius: 1rem;
  overflow: hidden;
}

.diseños {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.diseños img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin: 2px;
  border-radius: 2rem;
}
.diseños img:hover {
  transform: scale(2);
}

.diseños2 {
  text-align: center;
  font-size: 1, 8rem;
  color: rgba(18, 17, 17, 0.749);
  margin-top: 1rem;
}
.diseños2 p {
  margin-bottom: 2rem;
}

a.buttonn {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  text-decoration: none;
  background-color: rgba(245, 245, 220, 0.938);
  color: rgba(28, 27, 27, 0.74);
}
a.buttonn:hover {
  background-color: rgba(165, 42, 42, 0.642);
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 5px 0;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .card {
    max-width: 80%;
    margin: 0 auto;
  }
  .card img {
    height: auto;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
