$margintop: 1rem;
$textoalineado: center;
$colorgrisclaro:rgba(198, 198, 178, 0.795);
%flexbasico{
    display: flex;
    justify-content: center;
} 

@mixin flexbasico($justifycontent){
    display: flex;
    justify-content: $justifycontent;
}

*{
    font-family: "Roboto Condensed", sans-serif;


    background-color: rgba(162, 237, 219, 0.507);
    margin: 0;
    padding: 0;
}

.h1principal{
    font-weight: 400;
    font-size: 4rem;
    text-align: $textoalineado;

}



.enlaces {
    @extend %flexbasico;
    list-style-type: none;
    padding: 2rem;
    text-align: $textoalineado;
    
  
    li {
      margin: 0 15px;
  
      a {
        @extend %flexbasico;
        text-decoration: none;
        color: rgba(18, 17, 17, 0.749);
        margin-right: 10px;
        padding-right: 30px;
        border-right: 1px solid rgba(41, 38, 38, 0.785);
  
        &:hover {
          color: rgba(165, 42, 42, 0.747);
        }
      }
    }
  }

  .galeria{
    @include flexbasico(space-between);
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    
    img{
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        margin: 2px;
        border-radius: 2rem;
    }
    
}

.button{
    @extend %flexbasico;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: $textoalineado;
    border-radius: 2rem;
    text-decoration: none;
    background-color: beige;
    color: rgba(28, 27, 27, 0.74);

    &:hover{
        background-color: rgba(165, 42, 42, 0.642);
    }
}

.card{
    width: 25rem;
    border-radius: 2rem;
    text-align: $textoalineado;
    background-color: $colorgrisclaro;

    img{

    width: 25rem;
    border-radius: 2rem;
    text-align: $textoalineado;
    background-color: $colorgrisclaro;
    height: 25rem;
    object-fit: cover;


    
    }
}

.contenedorflex{
    @include flexbasico(space-around);
    object-fit: cover;
    gap: 1rem;
    flex-wrap: wrap;

    .card{
        padding: 1rem;

        h2{
            margin: 0;
            text-align: $textoalineado;
            background-color: $colorgrisclaro;
        p{
                font-size: 0,8rem;
                margin-top: $margintop;
                margin-bottom: 1rem;
                background-color: $colorgrisclaro;
        button{
                    border: none;
                    font-size: 1rem;
                    background-color: rgba(249, 249, 243, 0.881);
                    padding: 1rem 1rem;
                    border-radius: 1rem;
                    cursor: pointer;
        }
                
        }
        }
         
     }
    
}    

.containercontact{

    h2{
    text-align: $textoalineado;
    padding-top: 1rem;
    font-size: 2rem;

    h3{
        text-align: $textoalineado;
        font-size: 1rem;

    h4{
            text-align: $textoalineado;
            font-size: 1rem;
    

    img{
        width: 10rem;
        height: 10rem;
        border-radius: 2rem;
        margin-left: 14rem;
        margin-top: $margintop;
    }
    }
        
    }
    
    }
}    

.logoinstagram img{
    margin-top: $margintop;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        flex-direction: column; 
        align-items: center;
    }

    nav ul li {
        margin: 5px 0; 
    }

    nav ul li a {
        font-size: 16px; 
    }
}






