@import "./utilities/variables";

*{
    font-family: "Roboto Condensed", sans-serif;


    background-color: rgba(162, 237, 219, 0.507);
    margin: 0;
    padding: 0;
}

.h1principal{
    font-weight: 400;
    font-size: 4rem;
    text-align: $textoalineado;

}



.enlaces {
    @extend %flexbasico;
    list-style-type: none;
    padding: 2rem;
    text-align: $textoalineado;
    
  
    li {
      margin: 0 15px;
  
      a {
        @extend %flexbasico;
        text-decoration: none;
        color: rgba(18, 17, 17, 0.749);
        margin-right: 10px;
        padding-right: 30px;
        border-right: 1px solid rgba(41, 38, 38, 0.785);
  
        &:hover {
          color: nth($colores,2);
        }
      }
    }
  }

  .galeria{
    @include flexbasico(space-between);
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    
    img{
        width: 20rem;
        height: 20rem;
        object-fit: $objectfit;
        margin: 2px;
        border-radius: 2rem;
    }
    
}

.button{
    @extend %flexbasico;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: $textoalineado;
    border-radius: 2rem;
    text-decoration: none;
    background-color: nth($colores, 3);
    color: nth($colores, 4);

    &:hover{
        background-color: nth($colores, 2);
    }
}

.card{
    width: 25rem;
    border-radius: 2rem;
    text-align: $textoalineado;
    background-color: nth($colores, 1);

    img{

    width: 25rem;
    border-radius: 2rem;
    text-align: $textoalineado;
    background-color: nth($colores, 1);
    height: 25rem;
    object-fit: $objectfit;


    
    }
}

.contenedorflex{
    @include flexbasico(space-around);
    object-fit: $objectfit;
    gap: 1rem;
    flex-wrap: wrap;

    .card{
        padding: 1rem;

        h2{
            margin: 0;
            text-align: $textoalineado;
            background-color: nth($colores, 1);
        }
        p{
                font-size: 0,8rem;
                margin-top: $margintop;
                margin-bottom: 1rem;
                background-color: nth($colores, 1);
        }
        button{
                    border: none;
                    font-size: 1rem;
                    background-color: nth($colores, 3);
                    padding: 1rem 1rem;
                    border-radius: 1rem;
                    cursor: pointer;
        }
                
        }
        }
         
    
  

.containercontact{

    h2{
    text-align: $textoalineado;
    padding-top: 1rem;
    font-size: 2rem;
    }

    h3{
        text-align: $textoalineado;
        font-size: 1rem;
    }

    h4{
            text-align: $textoalineado;
            font-size: 1rem;
    }
    

    img{
        width: 10rem;
        height: 10rem;
        border-radius: 2rem;
        margin-left: 14rem;
        margin-top: $margintop;
    }
    }
        
       

.logoinstagram img{
    margin-top: 5rem;
}

.ubicacion {
    text-align: $textoalineado;
    margin-top: 2rem;

          iframe {
            border-radius: 1rem;
            overflow: hidden;
          }

}

.diseños{
    @include flexbasico(space-between);
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;

       img{
        width: 20rem;
        height: 20rem;
        object-fit: $objectfit;
        margin: 2px;
        border-radius: 2rem;

        &:hover {
            transform: scale(2);
           }
       }
}

.diseños2 {
    text-align: $textoalineado;
    font-size: 1, 8rem;
    color: rgba(18, 17, 17, 0.749);
    margin-top: $margintop;
        
    p {
        margin-bottom: 2rem;
    }
}    

a.buttonn{
        margin: 2rem;
        padding: 1rem;
        text-align: $textoalineado;
        border-radius: 2rem;
        text-decoration: none;
        background-color: nth($colores, 3);
        color: nth($colores, 4);

        &:hover{
            background-color: nth($colores, 2);
        }
          
}




@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        flex-direction: column; 
        align-items: $textoalineado;
    }

    nav ul li {
        margin: 5px 0; 
    }

    nav ul li a {
        font-size: 16px; 
    }
}






